<h1 class="title">
  <i class="fa-solid fa-calendar-day"></i>
  Cancelamento/Reagendamento
</h1>

<form>
  <fieldset>
    <legend>Dados</legend>

    <div class="flex-row">
      <div class="form-group">
        <label for="panel">Painel</label>
        <textarea name="panel" id="panel" placeholder=""></textarea>
      </div>
    </div>
  </fieldset>

  <div class="container-form-buttons">
    <app-clear-button></app-clear-button>
    <app-register-button></app-register-button>
  </div>
</form>
