:host {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  text-align: center;
  background-color: var(--highlight-blue-t0);
  color: rgb(255, 255, 255);
}

a {
  font-weight: 500;
}
