<h1 class="title">
  <i class="fa-solid fa-calendar-days"></i>
  visualização Agenda
</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Dados</legend>

    <div class="flex-row">
      <div class="flex-column">
        <div class="form-group">
          <label for="date">Médico</label>
          <select formControlName="date" name="date" id="date">
            <option disabled selected value="">Selecione a data</option>
          </select>
        </div>
        <div class="container-errors">
          <div
            class="error"
            *ngIf="
              form.get('date')?.hasError('required') &&
              form.get('date')?.touched
            "
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Obrigatório
          </div>
        </div>
      </div>

      <div class="flex-column">
        <div class="form-group">
          <label for="exam-type">Data</label>
          <select formControlName="date" name="exam-type" id="exam-type">
            <option disabled selected value="">Selecione a data</option>
          </select>
        </div>
        <div class="container-errors">
          <div
            class="error"
            *ngIf="
              form.get('date')?.hasError('required') &&
              form.get('date')?.touched
            "
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row">
      <div class="form-group">
        <label for="hour">Horários</label>
        <textarea name="hour" id="hour" placeholder=""></textarea>
      </div>
    </div>
  </fieldset>

  <div class="container-form-buttons">
    <app-clear-button></app-clear-button>
    <app-register-button></app-register-button>
  </div>
</form>
