<h1 class="title">
  <i class="fa-solid fa-briefcase-medical"></i>
  Material
</h1>

<form>
  <fieldset>
    <legend>Dados</legend>

    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" name="name" id="name" placeholder="Digite o nome" />
    </div>

    <div class="form-group">
      <label for="stock-quantity">Quantidade em estoque</label>
      <input
        type="number"
        name="stock-quantity"
        id="stock-quantity"
        placeholder="Digite a quantidade"
      />
    </div>

    <div class="form-group">
      <label for="minStockQuantity">Quantidade mínima em estoque</label>
      <input
        type="number"
        name="minStockQuantity"
        id="minStockQuantity"
        placeholder="Digite a quantidade"
      />
    </div>

    <div class="form-group">
      <label for="supplier">Fornecedor</label>
      <input
        type="text"
        name="supplier"
        id="supplier"
        placeholder="Digite o nome do fornecedor"
      />
    </div>

    <div class="form-group">
      <label for="price">Preço</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Digite o preço"
      />
    </div>
  </fieldset>

  <div class="container-form-buttons">
    <app-clear-button></app-clear-button>
    <app-register-button></app-register-button>
  </div>
</form>
