<h1 class="title">
  <i class="fa-solid fa-clock"></i>
  Pesquisa de horários
</h1>

<form>
  <fieldset>
    <legend>Dados</legend>

    <div class="flex-row">
      <div class="form-group">
        <label for="doctor">Pesquisar Médico</label>
        <select name="doctor" id="doctor">
          <option disabled selected value="">Selecione um médico</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exam-type">Tipo de exame</label>
        <select name="exam-type" id="exam-type">
          <option disabled selected value="">Selecione um tipo</option>
        </select>
      </div>

      <div class="form-group">
        <label for="date">Data</label>
        <input type="date" name="date" id="date" />
      </div>
    </div>

    <div class="flex-row">
      <div class="form-group">
        <label for="hour">Horários</label>
        <textarea name="hour" id="hour" placeholder=""></textarea>
      </div>
    </div>
  </fieldset>

  <div class="container-form-buttons">
    <app-clear-button></app-clear-button>
    <app-register-button></app-register-button>
  </div>
</form>
