<h1 class="title">
  <i class="fa-solid fa-clock"></i>
  Pesquisa de horários
</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Dados</legend>

    <div class="flex-row">
      <div class="flex-column">
        <div class="form-group">
          <label for="doctor">Pesquisar Médico</label>
          <select formControlName="doctor" name="doctor" id="doctor">
            <option disabled selected value="">Selecione um médico</option>
            @for (doctor of doctors; track doctor.id) {
            <option value="{{ doctor.name }}">{{ doctor.name }}</option>
            }
          </select>
        </div>
        <div class="container-errors">
          <div
            class="error"
            *ngIf="
              form.get('date')?.hasError('required') &&
              form.get('date')?.touched
            "
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Obrigatório
          </div>
        </div>
      </div>

      <div class="flex-column">
        <div class="form-group">
          <label for="exam-type">Tipo de exame</label>
          <select formControlName="examType" name="exam-type" id="exam-type">
            <option disabled selected value="">Selecione um tipo</option>
            <option value="laboratoriais">Laboratoriais</option>
            <option value="de_Imagem">De Imagem</option>
            <option value="cardiologicos">Cardiológicos</option>
            <option value="endoscópicos">Endoscópicos</option>
            <option value="hormonais">Hormonais</option>
            <option value="neurologicos">Neurológicos</option>
            <option value="geneticos">Genéticos</option>
          </select>
        </div>
        <div class="container-errors">
          <div
            class="error"
            *ngIf="
              form.get('date')?.hasError('required') &&
              form.get('date')?.touched
            "
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Obrigatório
          </div>
        </div>
      </div>

      <div class="flex-column">
        <div class="form-group">
          <label for="date">Data</label>
          <input formControlName="date" type="date" name="date" id="date" />
        </div>
        <div class="container-errors">
          <div
            class="error"
            *ngIf="
              form.get('date')?.hasError('required') &&
              form.get('date')?.touched
            "
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Obrigatório
          </div>
        </div>
      </div>
    </div>

    <div class="flex-row">
      <div class="form-group">
        <label for="hour">Horários</label>
        <textarea name="hour" id="hour" placeholder=""></textarea>
      </div>
    </div>
  </fieldset>

  <div class="container-form-buttons">
    <app-clear-button></app-clear-button>
    <app-register-button></app-register-button>
  </div>
</form>
