<h1 class="title">
  <i class="fa-solid fa-user-nurse"></i>
  Médico
</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <fieldset>
    <legend>Dados pessoais</legend>

    <div class="flex-row">
      <div class="flex-column">
        <div class="form-group">
          <label for="name">Nome</label>
          <input
            formControlName="name"
            type="text"
            name="name"
            id="name"
            placeholder="Digite o nome"
          />
        </div>
        <div class="container-errors">
          <div
            class="error"
            *ngIf="
              form.get('name')?.hasError('required') &&
              form.get('name')?.touched
            "
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Obrigatório
          </div>

          <div class="error" *ngIf="form.get('name')?.hasError('minlength')">
            <i class="fa-solid fa-circle-exclamation"></i>
            No mínimo 2 caracteres
          </div>

          <div class="error" *ngIf="form.get('name')?.hasError('pattern')">
            <i class="fa-solid fa-circle-exclamation"></i>
            Apenas letras e números
          </div>
        </div>
      </div>

      <div class="flex-column">
        <div class="form-group">
          <label for="specialty">Especialidade</label>
          <input
            formControlName="specialty"
            type="text"
            name="specialty"
            id="specialty"
            placeholder="Digite a especialidade"
          />
        </div>
        <div class="container-errors">
          <div
            class="error"
            *ngIf="
              form.get('specialty')?.hasError('required') &&
              form.get('specialty')?.touched
            "
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Obrigatório
          </div>

          <div
            class="error"
            *ngIf="form.get('specialty')?.hasError('minlength')"
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            No mínimo 2 caracteres
          </div>

          <div class="error" *ngIf="form.get('specialty')?.hasError('pattern')">
            <i class="fa-solid fa-circle-exclamation"></i>
            Apenas letras e números
          </div>
        </div>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-column">
        <div class="flex-column">
          <div class="form-group">
            <label for="crm">CRM</label>
            <input
              mask="000000-UU"
              formControlName="crm"
              type="text"
              name="crm"
              id="crm"
              placeholder="Digite o CRM"
            />
          </div>
          <div class="container-errors">
            <div
              class="error"
              *ngIf="
                form.get('specialty')?.hasError('required') &&
                form.get('specialty')?.touched
              "
            >
              <i class="fa-solid fa-circle-exclamation"></i>
              Obrigatório
            </div>
          </div>
        </div>

        <div class="flex-row">
          <div class="flex-column">
            <div class="form-group">
              <label for="consultation-hours">Hoários de Atendimentos</label>
              <input
                formControlName="consultationHours"
                type="time"
                name="consultation-hours"
                id="consultation-hours"
              />
            </div>
            <div class="container-errors">
              <div
                class="error"
                *ngIf="
                  form.get('consultationHours')?.hasError('required') &&
                  form.get('consultationHours')?.touched
                "
              >
                <i class="fa-solid fa-circle-exclamation"></i>
                Obrigatório
              </div>
            </div>
          </div>

          <div class="flex-column">
            <div class="form-group">
              <label for="value-appointment"
                >Valor da Consulta Particular</label
              >
              <input
                formControlName="valueAppointment"
                type="number"
                name="value-appointment"
                id="value-appointment"
                placeholder="Digite o valor"
              />
            </div>

            <div class="container-errors">
              <div
                class="error"
                *ngIf="
                  form.get('valueAppointment')?.hasError('required') &&
                  form.get('valueAppointment')?.touched
                "
              >
                <i class="fa-solid fa-circle-exclamation"></i>
                Obrigatório
              </div>

              <div
                class="error"
                *ngIf="form.get('valueAppointment')?.hasError('min')"
              >
                <i class="fa-solid fa-circle-exclamation"></i>
                No mínimo 1
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contant flex-column">
        <div class="form-group">
          <label for="contat">Contatos</label>
          <textarea
            formControlName="contat"
            maxlength="200"
            name="contat"
            id="contat"
            placeholder="Digite os contatos"
          ></textarea>
        </div>
        <div class="container-errors">
          <div
            class="error"
            *ngIf="
              form.get('contat')?.hasError('required') &&
              form.get('contat')?.touched
            "
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            Obrigatório
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <app-address-form [formAddress]="formAddress"></app-address-form>

  <div class="container-form-buttons">
    <app-clear-button></app-clear-button>
    <app-register-button></app-register-button>
  </div>
</form>
