<h1 class="title">
  <i class="fa-solid fa-user-nurse"></i>
  Médico
</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Dados pessoais</legend>

    <div class="flex-row">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          formControlName="name"
          type="text"
          name="name"
          id="name"
          placeholder="Digite o nome"
        />
      </div>
      <div class="form-group">
        <label for="specialty">Especialidade</label>
        <input
          formControlName="specialty"
          type="text"
          name="specialty"
          id="specialty"
          placeholder="Digite a especialidade"
        />
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-column">
        <div class="form-group">
          <label for="crm">CRM</label>
          <input
            formControlName="crm"
            type="number"
            name="crm"
            id="crm"
            placeholder="Digite o CRM"
          />
        </div>

        <div class="flex-row">
          <div class="form-group">
            <label for="consultation-hours">Hoários de Atendimentos</label>
            <input
              formControlName="consultationHours"
              type="time"
              name="consultation-hours"
              id="consultation-hours"
            />
          </div>
          <div class="form-group">
            <label for="value-appointment">Valor da Consulta Particular</label>
            <input
              formControlName="valueAppointment"
              type="number"
              name="value-appointment"
              id="value-appointment"
              placeholder="Digite o valor"
            />
          </div>
        </div>
      </div>

      <textarea
        formControlName="contat"
        name="contat"
        id="contat"
        placeholder="Digite os contatos"
      ></textarea>
    </div>
  </fieldset>

  <app-address-form></app-address-form>

  <div class="container-form-buttons">
    <app-clear-button></app-clear-button>
    <app-register-button></app-register-button>
  </div>
</form>
