@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --highlight-blue-t0: #626cf8;
  --white-t0: #ffffff;
  --white-t1: #f6f8ff;

  --font-body: "Poppins", Arial, Helvetica, sans-serif;
  --font-title: "Roboto", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-t0);
  color: var(--white-t0);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  color: inherit;
}
