<h1 class="title">
  <i class="fa-solid fa-hospital-user"></i>
  Paciente
</h1>

<form>
  <fieldset>
    <legend>Dados pessoais</legend>

    <div class="flex-row">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" placeholder="Digite o nome" />
      </div>
      <div class="form-group">
        <label for="data_nasc">Data de Nascimento</label>
        <input type="date" name="data_nasc" id="data_nasc" />
      </div>
    </div>

    <div class="flex-row">
      <div class="form-group">
        <label for="tipo_sanguineo">Tipo sanguíneo</label>
        <select name="tipo_sanguineo" id="tipo_sanguineo">
          <option disabled selected value="">Selecione um tipo</option>
        </select>
      </div>

      <div class="form-group">
        <label for="phone">Telefone</label>
        <input
          type="number"
          name="phone"
          id="phone"
          placeholder="(xx) x xxxx-xxxx"
        />
      </div>
      <div class="form-group">
        <label for="Convênio">Convênio</label>
        <select name="Convênio" id="Convênio">
          <option disabled selected value="">Selecione um tipo</option>
        </select>
      </div>
    </div>

    <div class="flex-row">
      <div class="form-group">
        <label for="altura">Altura</label>
        <input
          type="number"
          name="altura"
          id="altura"
          placeholder="Em metros"
        />
      </div>

      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="number" name="peso" id="peso" placeholder="Em Kg" />
      </div>
    </div>

    <textarea
      name="contat"
      id="contat"
      placeholder="Digite os contatos"
    ></textarea>
  </fieldset>

  <app-address-form></app-address-form>

  <div class="container-form-buttons">
    <app-clear-button></app-clear-button>
    <app-register-button></app-register-button>
  </div>
</form>
